nav{
    position: fixed;
}

nav a{
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
    font-weight: 700;
    color: white;
}

nav a:hover{
    color: red;
}

.icon-text {
    text-align: center;
    font-size: 12px;
    color: black;
  }

.right{
    position: absolute;
    right: 0px;
}

.dropNav{
    margin-right: 10px !important;
    padding-right: 10px !important;
}

.logo{
    width: 149px;
}